<ng-container *ngTemplateOutlet="numberCardChartsContainer"> </ng-container>
<ng-container *ngTemplateOutlet="specialtyDoughnutChartContainer"> </ng-container>

<ng-template #numberCardChartsContainer>
  <ngx-charts-number-card
    [view]="cardView"
    [scheme]="cardColorScheme"
    [results]="cardChartData"
    [cardColor]="cardColor"
  >
  </ngx-charts-number-card>
</ng-template>

<ng-template #specialtyDoughnutChartContainer>
  <ngx-charts-advanced-pie-chart
    [view]="specialtyDoughnutView"
    [scheme]="specialtyDoughnutColorScheme"
    [results]="specialtyDoughnutChartData"
    [gradient]="specialtyDoughnutGradient"
  >
  </ngx-charts-advanced-pie-chart>
</ng-template>
