<ng-container *ngTemplateOutlet="mainNumberCardChartContainer"> </ng-container>
<ng-container *ngTemplateOutlet="mainSpecialtyDoughnutChartContainer">
</ng-container>
<ng-container *ngTemplateOutlet="mainMunicipalityTotalHospitalsGraphChart">
</ng-container>
<ng-container
  *ngTemplateOutlet="mainMunicipalityTotalDoctorsGroupedByGenderGraphChart"
>
</ng-container>

<ng-template #mainNumberCardChartContainer>
  <nb-card>
    <nb-card-body>
      <div class="number-card-chart-container">
        <ng-container *ngTemplateOutlet="numberCardChartsContainer">
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #numberCardChartsContainer>
  <ngx-charts-number-card
    [scheme]="cardColorScheme"
    [results]="cardChartData"
    [cardColor]="cardColor"
  >
  </ngx-charts-number-card>
</ng-template>

<ng-template #mainSpecialtyDoughnutChartContainer>
  <nb-card>
    <nb-card-body>
      <div class="specialty-doughnut-chart-container">
        <ng-container *ngTemplateOutlet="specialtyDoughnutChartContainer">
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #specialtyDoughnutChartContainer>
  <ngx-charts-advanced-pie-chart
    [scheme]="specialtyDoughnutColorScheme"
    [results]="specialtyDoughnutChartData"
    [gradient]="specialtyDoughnutGradient"
  >
  </ngx-charts-advanced-pie-chart>
</ng-template>

<ng-template #mainMunicipalityTotalHospitalsGraphChart>
  <nb-card>
    <nb-card-body>
      <div class="municipality-total-hospitals-chart-container">
        <ng-container *ngTemplateOutlet="municipalityTotalHospitalsGraphChart">
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #municipalityTotalHospitalsGraphChart>
  <ngx-charts-bar-vertical
    [scheme]="municipalityHospitalsColorScheme"
    [results]="municipalityHospitalsGraphChartData"
    [gradient]="municipalityHospitalsGradient"
    [xAxis]="municipalityHospitalsShowXAxis"
    [yAxis]="municipalityHospitalsShowYAxis"
    [legend]="municipalityHospitalsShowLegend"
    [showXAxisLabel]="municipalityHospitalsShowXAxisLabel"
    [showYAxisLabel]="municipalityHospitalsShowYAxisLabel"
    [xAxisLabel]="municipalityHospitalsXaxisLabel"
    [yAxisLabel]="municipalityHospitalsYaxisLabel"
  >
  </ngx-charts-bar-vertical>
</ng-template>

<ng-template #mainMunicipalityTotalDoctorsGroupedByGenderGraphChart>
  <nb-card>
    <nb-card-body>
      <div class="municipality-total-doctors-grouped-by-gender-chart-container">
        <ng-container
          *ngTemplateOutlet="municipalityTotalDoctorsGroupedByGender"
        >
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #municipalityTotalDoctorsGroupedByGender>
  <ngx-charts-bar-vertical-stacked
    [scheme]="municipalityDoctorsGroupedByGenderColorScheme"
    [results]="municipalityDoctorsGroupedByGenderGraphChartData"
    [gradient]="municipalityDoctorsGroupedByGenderGradient"
    [xAxis]="municipalityDoctorsGroupedByGenderShowXAxis"
    [yAxis]="municipalityDoctorsGroupedByGenderShowYAxis"
    [legend]="municipalityDoctorsGroupedByGenderShowLegend"
    [showXAxisLabel]="municipalityDoctorsGroupedByGenderShowXAxisLabel"
    [showYAxisLabel]="municipalityDoctorsGroupedByGendershowYAxisLabel"
    [xAxisLabel]="municipalityDoctorsGroupedByGenderxAxisLabel"
    [yAxisLabel]="municipalityDoctorsGroupedByGenderyAxisLabel"
    [animations]="municipalityDoctorsGroupedByGenderAnimations"
  ></ngx-charts-bar-vertical-stacked>
</ng-template>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
