<ng-container *ngTemplateOutlet="mainNumberCardChartContainer"> </ng-container>
<ng-container *ngTemplateOutlet="mainGenderDoughnutChartContainer">
</ng-container>
<ng-container *ngTemplateOutlet="mainSpecialtyDoughnutChartContainer">
</ng-container>
<ng-container
  *ngTemplateOutlet="mainTotalSpecialtyCountGroupedByGenderGraphChart"
>
</ng-container>

<ng-template #mainNumberCardChartContainer>
  <div class="number-card-chart-container">
    <ng-container *ngTemplateOutlet="numberCardChartsContainer"> </ng-container>
  </div>
</ng-template>

<ng-template #mainSpecialtyDoughnutChartContainer>
  <div class="specialty-doughnut-chart-container">
    <ng-container *ngTemplateOutlet="specialtyDoughnutChartContainer">
    </ng-container>
  </div>
</ng-template>

<ng-template #mainGenderDoughnutChartContainer>
  <div class="gender-doughnut-chart-container">
    <ng-container *ngTemplateOutlet="genderDoughnutChartContainer">
    </ng-container>
  </div>
</ng-template>

<ng-template #mainTotalSpecialtyCountGroupedByGenderGraphChart>
  <div class="specialty-count-grouped-by-gender-chart-container">
    <ng-container *ngTemplateOutlet="totalSpecialtyCountGroupedByGender">
    </ng-container>
  </div>
</ng-template>

<ng-template #genderDoughnutChartContainer>
  <ngx-charts-advanced-pie-chart
    [scheme]="genderDoughnutColorScheme"
    [results]="totalGenderDoughnutChartData"
    [gradient]="doughnutGradient"
  >
  </ngx-charts-advanced-pie-chart>
</ng-template>

<ng-template #specialtyDoughnutChartContainer>
  <ngx-charts-advanced-pie-chart
    [scheme]="specialtyDoughnutColorScheme"
    [results]="totalSpecialtyDoughnutChartData"
    [gradient]="doughnutGradient"
  >
  </ngx-charts-advanced-pie-chart>
</ng-template>

<ng-template #numberCardChartsContainer>
  <ngx-charts-number-card
    [scheme]="cardColorScheme"
    [results]="totalDoctorsCardChartData"
    [cardColor]="cardColor"
  >
  </ngx-charts-number-card>
</ng-template>

<ng-template #totalSpecialtyCountGroupedByGender>
  <ngx-charts-bar-vertical-stacked
    [scheme]="totalSpecialtyCountGroupedByGenderColorScheme"
    [results]="totalSpecialtyCountGroupedByGenderChartData"
    [gradient]="totalSpecialtyCountGroupedByGenderGradient"
    [xAxis]="totalSpecialtyCountGroupedByGenderShowXAxis"
    [yAxis]="totalSpecialtyCountGroupedByGenderShowYAxis"
    [legend]="totalSpecialtyCountGroupedByGenderShowLegend"
    [showXAxisLabel]="totalSpecialtyCountGroupedByGenderShowXAxisLabel"
    [showYAxisLabel]="totalSpecialtyCountGroupedByGendershowYAxisLabel"
    [xAxisLabel]="totalSpecialtyCountGroupedByGenderxAxisLabel"
    [yAxisLabel]="totalSpecialtyCountGroupedByGenderyAxisLabel"
    [animations]="totalSpecialtyCountGroupedByGenderAnimations"
  ></ngx-charts-bar-vertical-stacked>
</ng-template>
