.number-card-chart-container {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
}

.specialty-doughnut-chart-container {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
}

.gender-doughnut-chart-container {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
}

.specialty-count-grouped-by-gender-chart-container {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
}

.number-card-chart-and-gender-count-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
