<nb-layout>
  <nb-layout-header fixed>
    <nb-icon
      class="side-bar-triggering-icon"
      *ngIf="sideBarIsVisible"
      icon="close"
      (click)="displaySideBar()"
      nbPopover="Hide Side Bar"
      nbPopoverTrigger="hover"
      nbPopoverPlacement="bottom"
    ></nb-icon>
    <nb-icon
      class="side-bar-triggering-icon"
      *ngIf="!sideBarIsVisible"
      icon="menu"
      (click)="displaySideBar()"
      nbPopover="View Side Bar"
      nbPopoverTrigger="hover"
      nbPopoverPlacement="bottom"
    ></nb-icon>
    <nb-icon
      class="custome-icon-styling"
      icon="home"
      (click)="navigateTomainDirectoryView()"
      nbPopover="Main Directory"
      nbPopoverTrigger="hover"
      nbPopoverPlacement="bottom"
    ></nb-icon>
    <!-- Insert header here -->
  </nb-layout-header>
  <nb-sidebar tag="left">
    <nb-menu [items]="MenuContent"> </nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>
