<nb-layout>
  <nb-layout-header fixed>
    <nb-icon
      *ngIf="sideBarIsVisible"
      icon="close"
      (click)="displaySideBar()"
    ></nb-icon>
    <nb-icon
      *ngIf="!sideBarIsVisible"
      icon="menu"
      (click)="displaySideBar()"
    ></nb-icon>
    <nb-icon icon="home" (click)="navigateTomainDirectoryView()"></nb-icon>
    <!-- Insert header here -->
  </nb-layout-header>
  <nb-sidebar tag="left">
    <nb-menu [items]="MenuContent"> </nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>
