<ng-container *ngTemplateOutlet="mainNumberCardChartContainer"> </ng-container>
<ng-container *ngTemplateOutlet="mainGenderDoughnutChartContainer">
</ng-container>
<ng-container *ngTemplateOutlet="mainSpecialtyDoughnutChartContainer">
</ng-container>
<ng-container *ngTemplateOutlet="mainTotalDoctorsInHospitalsGraphChart">
</ng-container>

<ng-template #mainNumberCardChartContainer>
  <div class="number-card-chart-container">
    <ng-container *ngTemplateOutlet="numberCardChartsContainer"> </ng-container>
  </div>
</ng-template>

<ng-template #mainSpecialtyDoughnutChartContainer>
  <div class="specialty-doughnut-chart-container">
    <ng-container *ngTemplateOutlet="specialtyDoughnutChartContainer">
    </ng-container>
  </div>
</ng-template>

<ng-template #mainGenderDoughnutChartContainer>
  <div class="gender-doughnut-chart-container">
    <ng-container *ngTemplateOutlet="genderDoughnutChartContainer">
    </ng-container>
  </div>
</ng-template>

<ng-template #mainTotalDoctorsInHospitalsGraphChart>
  <div class="total-doctors-in-hospitals-chart-container">
    <ng-container *ngTemplateOutlet="totalDoctorsInHospitalsGraphChart">
    </ng-container>
  </div>
</ng-template>

<ng-template #genderDoughnutChartContainer>
  <ngx-charts-advanced-pie-chart
    [scheme]="genderDoughnutColorScheme"
    [results]="genderDoughnutChartData"
    [gradient]="doughnutGradient"
  >
  </ngx-charts-advanced-pie-chart>
</ng-template>

<ng-template #specialtyDoughnutChartContainer>
  <ngx-charts-advanced-pie-chart
    [scheme]="specialtyDoughnutColorScheme"
    [results]="specialtyDoughnutChartData"
    [gradient]="doughnutGradient"
  >
  </ngx-charts-advanced-pie-chart>
</ng-template>

<ng-template #numberCardChartsContainer>
  <ngx-charts-number-card
    [scheme]="cardColorScheme"
    [results]="cardChartData"
    [cardColor]="cardColor"
  >
  </ngx-charts-number-card>
</ng-template>

<ng-template #totalDoctorsInHospitalsGraphChart>
  <ngx-charts-bar-vertical
    [scheme]="totalDoctorsInHospitalColorScheme"
    [results]="totalDoctorsInHospitalChartData"
    [gradient]="totalDoctorsInHospitalGradient"
    [xAxis]="totalDoctorsInHospitalShowXAxis"
    [yAxis]="totalDoctorsInHospitalShowYAxis"
    [legend]="totalDoctorsInHospitalShowLegend"
    [showXAxisLabel]="totalDoctorsInHospitalShowXAxisLabel"
    [showYAxisLabel]="totalDoctorsInHospitalShowYAxisLabel"
    [xAxisLabel]="totalDoctorsInHospitalXaxisLabel"
    [yAxisLabel]="totalDoctorsInHospitalYaxisLabel"
  >
  </ngx-charts-bar-vertical>
</ng-template>
