<ng-container *ngTemplateOutlet="mainNumberCardChartContainer"> </ng-container>
<ng-container *ngTemplateOutlet="mainSpecialtyDoughnutChartContainer">
</ng-container>
<ng-container
  *ngTemplateOutlet="mainHospitalTotalDoctorsCountGroupedByGenderGraphChart"
>
</ng-container>
<ng-container
  *ngTemplateOutlet="
    mainMunicipalityTotalDoctorsCountInGroupedByGenderGraphChart
  "
>
</ng-container>

<ng-template #mainNumberCardChartContainer>
  <nb-card>
    <nb-card-body>
      <div class="number-card-chart-container">
        <ng-container *ngTemplateOutlet="numberCardChartsContainer">
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #numberCardChartsContainer>
  <ngx-charts-number-card
    [scheme]="cardColorScheme"
    [results]="totalDoctorsCountInSpecialtyCardChartData"
    [cardColor]="cardColor"
  >
  </ngx-charts-number-card>
</ng-template>

<ng-template #mainSpecialtyDoughnutChartContainer>
  <nb-card>
    <nb-card-body>
      <div class="specialty-doughnut-chart-container">
        <ng-container *ngTemplateOutlet="specialtyDoughnutChartContainer">
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #specialtyDoughnutChartContainer>
  <ngx-charts-advanced-pie-chart
    [scheme]="specialtyDoughnutColorScheme"
    [results]="totalDoctorsCountInSpecialtyGroupedByGenderChartData"
    [gradient]="specialtyDoughnutGradient"
  >
  </ngx-charts-advanced-pie-chart>
</ng-template>

<ng-template #mainHospitalTotalDoctorsCountGroupedByGenderGraphChart>
  <nb-card>
    <nb-card-body>
      <div
        class="
          total-doctors-count-in-hospital-grouped-by-gender-chart-container
        "
      >
        <ng-container
          *ngTemplateOutlet="
            totalDoctorsCountInHospitalGroupedBySpecialtyAndGender
          "
        >
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #mainMunicipalityTotalDoctorsCountInGroupedByGenderGraphChart>
  <nb-card>
    <nb-card-body>
      <div
        class="
          total-doctors-count-in-municipality-grouped-by-gender-chart-container
        "
      >
        <ng-container
          *ngTemplateOutlet="
            totalDoctorsCountInMunicipalityGroupedBySpecialtyAndGender
          "
        >
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>

<ng-template #totalDoctorsCountInHospitalGroupedBySpecialtyAndGender>
  <ngx-charts-bar-vertical-stacked
    [scheme]="doubleBarGraphColorScheme"
    [results]="totalDoctorsCountInHospitalGroupedBySpecialtyAndGenderChartData"
    [gradient]="doubleBarGraphGradient"
    [xAxis]="doubleBarGraphShowXAxis"
    [yAxis]="doubleBarGraphShowYAxis"
    [legend]="doubleBarGraphShowLegend"
    [showXAxisLabel]="doubleBarGraphShowXAxisLabel"
    [showYAxisLabel]="doubleBarGraphshowYAxisLabel"
    [xAxisLabel]="doubleBarGraphHospitalsxAxisLabel"
    [yAxisLabel]="doubleBarGraphyAxisLabel"
    [animations]="doubleBarGraphAnimations"
  ></ngx-charts-bar-vertical-stacked>
</ng-template>

<ng-template #totalDoctorsCountInMunicipalityGroupedBySpecialtyAndGender>
  <ngx-charts-bar-vertical-stacked
    [scheme]="doubleBarGraphColorScheme"
    [results]="
      totalDoctorsCountInMunicipalityGroupedBySpecialtyAndGenderChartData
    "
    [gradient]="doubleBarGraphGradient"
    [xAxis]="doubleBarGraphShowXAxis"
    [yAxis]="doubleBarGraphShowYAxis"
    [legend]="doubleBarGraphShowLegend"
    [showXAxisLabel]="doubleBarGraphShowXAxis"
    [showYAxisLabel]="doubleBarGraphshowYAxisLabel"
    [xAxisLabel]="doubleBarGraphMunicipalitiesxAxisLabel"
    [yAxisLabel]="doubleBarGraphyAxisLabel"
    [animations]="doubleBarGraphAnimations"
  ></ngx-charts-bar-vertical-stacked>
</ng-template>
