<ng-container *ngTemplateOutlet="mainNumberCardChartContainer"> </ng-container>
<ng-container *ngTemplateOutlet="mainSpecialtyDoughnutChartContainer">
</ng-container>

<ng-template #mainNumberCardChartContainer>
  <div class="number-card-chart-container">
    <ng-container *ngTemplateOutlet="numberCardChartsContainer"> </ng-container>
  </div>
</ng-template>

<ng-template #numberCardChartsContainer>
  <ngx-charts-number-card
    [scheme]="cardColorScheme"
    [results]="totalDoctorsCountInSpecialtyCardChartData"
    [cardColor]="cardColor"
  >
  </ngx-charts-number-card>
</ng-template>

<ng-template #mainSpecialtyDoughnutChartContainer>
  <div class="specialty-doughnut-chart-container">
    <ng-container *ngTemplateOutlet="specialtyDoughnutChartContainer">
    </ng-container>
  </div>
</ng-template>

<ng-template #specialtyDoughnutChartContainer>
  <ngx-charts-advanced-pie-chart
    [scheme]="specialtyDoughnutColorScheme"
    [results]="totalDoctorsCountInSpecialtyGroupedByGenderChartData"
    [gradient]="specialtyDoughnutGradient"
  >
  </ngx-charts-advanced-pie-chart>
</ng-template>
