.number-card-chart-container {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
}

.specialty-doughnut-chart-container {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
}

.total-doctors-count-in-municipality-grouped-by-gender-chart-container {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
}

.total-doctors-count-in-hospital-grouped-by-gender-chart-container {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 100%;
}

.number-card-chart-and-gender-specialty-count-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
